:root {
  --primary: #fffbe6;
  --light: #f8f9fa;
  --bg: #347928;
  --bg2: #e0ffda;
  --yellow: #ffd500;
  --gray: #6c757d;
  --box: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
  --box-light: 1px 1px 5px rgba(255, 255, 255, 0.8),
    -1px -1px 5px rgba(255, 255, 255, 0.8);
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: url("../school.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  z-index: -2;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.main .side-bar {
  width: 200px;
  background-color: var(--light);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 100px 1fr;
}
.main .side-bar .header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main .side-bar .header-logo h3 {
  color: var(--dark);
}
.main .side-bar .menu {
  display: flex;
  flex-direction: column;
}
.main .side-bar .menu span {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  color: var(--dark);
  margin-top: 20px;
  cursor: context-menu;
}
.main .side-bar .menu .menu-item {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: var(--dark);
  text-align: center;
}
.main .side-bar .menu .menu-item a {
  text-decoration: none;
  color: var(--dark);
  flex-grow: 1;
  display: flex;
  justify-content: start;
}
.main .side-bar .menu .menu-item:hover {
  background-color: var(--bg);
  box-shadow: var(--box-shadow);
}
.main .side-bar .menu .menu-item:hover a {
  color: var(--light);
}
.main .side-bar .menu .active {
  background-color: var(--bg);
  box-shadow: var(--box-shadow);
}
.main .side-bar .menu .active a {
  color: var(--light);
}
.main .main-bar {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 1fr;
}
.main .main-bar .search {
  grid-column: 1/3;
}
.main .main-bar .search form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main .main-bar .search form .from {
  display: grid;
  grid-template-columns: 100px 1fr;
  place-items: center;
  padding: 2%;
}
.main .main-bar .search form .to {
  display: grid;
  grid-template-columns: 100px 1fr;
  place-items: center;
  padding: 2%;
}
.main .main-bar .search form .filter {
  display: grid;
  place-items: center;
}
.main .main-bar .search form .filter input {
  width: 50%;
  box-shadow: var(--box-light);
}
.main .main-bar .tbl_cashInput {
  overflow: auto;
}
.main .main-bar .tbl_cashInput table {
  box-shadow: var(--box);
}
.main .main-bar .tbl_cashInput .header {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--bg);
  position: sticky;
  top: 0;
}
.main .main-bar .tbl_stud {
  overflow: auto;
}
.main .main-bar .tbl_stud .table {
  box-shadow: var(--box);
}
.main .main-bar .tbl_stud .table tr {
  background-color: var(--yellow);
}
.main .main-bar .tbl_stud .header {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--bg);
  position: sticky;
  top: 0;
}/*# sourceMappingURL=admin_sales.css.map */