:root {
  --green: #70ff91;
  --yellow: #86af49;
  --cyan: #4cc9fe;
  --light: #f8f9fa;
  --bg: #347928;
  --bg2: #fff100;
  --dark: #343a40;
  --gray: #6c757d;
  --box: 0px 0px 5px rgba(0, 0, 0, 0.2);
  --box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
  --box-light: 1px 1px 5px rgba(255, 255, 255, 0.8),
    -1px -1px 5px rgba(255, 255, 255, 0.8);
}
* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  .side-bar {
    width: 200px;
    background-color: var(--light);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: 100px 1fr;

    .header-logo {
      width: 100%;
      display: grid;
      place-items: center;

      h3 {
        color: var(--dark);
      }
    }

    .menu {
      display: flex;
      flex-direction: column;

      span {
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
        color: var(--dark);
        margin-top: 20px;
        cursor: context-menu;
      }

      .menu-item {
        box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.1);
        display: flex;
        padding: 10px;
        text-decoration: none;
        color: var(--dark);
        text-align: center;

        a {
          text-decoration: none;
          color: var(--dark);
          flex-grow: 1;
          display: flex;
          justify-content: start;
        }
      }
      .menu-item:hover {
        a {
          color: var(--light);
        }
        background-color: var(--bg);
        box-shadow: var(--box-shadow);
      }
      .active {
        a {
          color: var(--light);
        }
        background-color: var(--bg);
        box-shadow: var(--box-shadow);
      }
    }
  }

  .main-bar {
    display: grid;
    grid-template-rows: 25vh 1fr;
    row-gap: 5px;
    .stud_reg_container {
      form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;

        .stud:nth-child(1) {
          grid-row: 2/3;
        }
      }
    }
    .stud-table {
      border: 1px solid black;
      height: 70vh;
      overflow: auto;
      display: grid;
      grid-template-rows: 80px 1fr;

      .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
